a {
   
    text-align: center;
    text-decoration: dotted;
    text-shadow: darkorange;
    text-indent: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    

    color:rgb(88, 17, 17);
}

.index {

    text-align: left;
    text-decoration: dotted;
    text-shadow: darkorange;
    text-indent: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    

    color:rgb(80, 27, 27);

}

img {
    max-width: 20%;
    max-height: 20%;
    border-radius: 10%;
}

body {


    background-color: rgb(243, 217, 217);
}